# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
tmp
dist
functions

# dependencies
node_modules

# IDEs and editors

# misc
typings
npm-debug.log

# System Files
.DS_Store
Thumbs.db
